.portafolio__container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 3.7rem;
    width: 500px; 
    height: 500px;
    margin-left: 10%;
    margin-top: 50px;
}

h3 {
    color: #fff;
    margin-top: 20px;
    font-weight: 400;
    font-size: 11px;
    font-family: sans-serif;
    letter-spacing: 3px;
    animation: fadeIn 1s 1.8s backwards;
}
.portafolio__item {
    background: var(--color-bg-variant);
    padding: 1.5rem;
    border-radius: 2rem;
    border: 1px solid transparent;
    transition: var(--transition);
    margin: -10px;
}

.portafolio__item:hover {
    border-color: var(--color-primary-variant);
    background: transparent;
}

.portafolio__item-image {
    border-radius: 1.3rem;
    overflow: hidden;
}

.portafolio__item h3 {
    margin: 1.2rem 0 2rem;
}

.portafolio__item-cta {
    display: flex;
    gap: 1rem;
    margin-bottom: 1rem;
}

.btn {
    font-family: sans-serif;
    width: max-content;
    display: inline-block;
    color: var(--color-primary);
    padding: 0.75rem 1.2rem;
    border-radius: 0.4rem;
    cursor: pointer;
    border: 1px solid var(--color-primary);
    transition: var(--transition);
    text-decoration: none;
}

.btn:hover {
    background: var(--color-white);
    color: var(--color-bg);
    border-color: transparent;
}

.btn-primary {
    background: var(--color-primary);
    color: var(--color-bg);
}

/* ============= MEDIA QUERIES (MEDIUM DEVICES) =============== */

@media screen and (max-width: 1024px) {
    .portafolio__container {
        grid-template-columns: 1fr 1fr;
        gap: 1.2rem;
    }
}

/* ============= MEDIA QUERIES (SMALL DEVICES) =============== */

@media screen and (max-width: 600px) {
    .portafolio__container {
        grid-template-columns: 1fr;
        gap: 1rem;
    }
}

img {
    width: 290px;
    height: 150px;
}